.finding-sustained {
    color: #d64541;
}

.finding-sustained-border {
    border-color: #d64541 !important;
}

.finding-sustained-background {
    background-color: #d64541 !important;
}

.finding-not-sustained {
    color: #ec670e;
}

.finding-not-sustained-border {
    border-color: #ec670e !important;
}

.finding-not-sustained-background {
    background-color: #ec670e !important;
}

.finding-exonerated {
    color: #24a159;
}

.finding-exonerated-border {
    border-color: #24a159 !important;
}

.finding-exonerated-background {
    background-color: #24a159 !important;
}

.finding-unfounded {
    color: #8f8f8f;
}

.finding-unfounded-border {
    border-color: #8f8f8f !important;
}

.finding-unfounded-background {
    background-color: #8f8f8f !important;
}

.grow {
    border: 8px solid rgba(0, 0, 0, 0);
    transition: all 250ms;
}

.grow:hover {
    border-width: 0px;
    transition: all 1000ms 250ms;
}

.linkExpand {
    letter-spacing: 0px;
    font-weight: inherit;
    transition: all 250ms;
}

.linkExpand:hover {
    letter-spacing: 2px;
    font-weight: bolder;
    transition: all 1000ms;
}

.linkBlue {
    color: #212529;
}

.linkBlue:hover {
    color: #0d6efd;
}

.linkPurple {
    color: #212529;
}

.linkPurple:hover {
    color: #713ea6;
}

.linkThin {
    font-weight: lighter;
    transition: all 250ms;
}

.linkThin:hover {
    text-decoration: underline;
    font-weight: normal;
    transition: all 1000ms;
}

.maxWidthReduced {
    max-width: 100%;
}

@media (min-width:1200px) {
    .maxWidthReduced {
        max-width: 75%;
    }
}

.officer-primary {
    color: #52b3d9;
}

.officer-secondary {
    color: #be90d4;
}

.palette-primary {
    color: #2e343b;
}

.palette-secondary {
    color: #6c7a89;
}

.palette-title {
    color: #d35400;
}

.palette-text {
    color: #4f5a65;
}

.palette-data {
    color: #9b59b6;
}

.palette-link {
    color: #1e90ff;
    transition: all 250ms;
}

.palette-link:hover {
    color: #1e90ff;
    font-weight: bolder;
    transition: all 1000ms;
}

.palette-link-color {
    color: #1e90ff;
}

.palette-link-color:hover {
    color: #1e90ff;
}

.smaller-card-image-top {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.smallLineSpacing {
    line-height: 1.1;
}
