{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
        {# Translators: This is a page title #}
        <title>{% translate 'Bad Apple Database' %}</title>
{% endblock %}


{% block pageThreeActive %}{% endblock %}


{% block content %}
        <div class="align-content-center align-items-center bg-light container d-flex flex-wrap h-100 justify-content-center min-vh-100 min-vw-100 text-dark w-100">
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12 mb-3 mt-3">
                    <h1 class="display-1 mb-0">{% translate 'Bad Apple Database' %}</h1>
                    <h5><a href="{% url 'documentation' %}#BadApple" class="linkExpand linkBlue text-decoration-none">{% translate 'Learn More' %}</a></h5>
                    <h1 class="display-4 mt-5 text-primary">{% translate 'Coming Soon' %}</h1>
                </div>
            </div>
        </div>
{% endblock content %}
