{% extends "base.html" %}
{% load static %}


{% block meta %}
        <meta name="description" content="">
        <meta name="author" content="">
{% endblock %}


{% block title %}
        <title>Bad Apple</title>
{% endblock %}


{% block customCSS %}
        <link href="{% static "css/home.css" %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
        <div class="align-content-center align-items-center bg-light container d-flex flex-wrap h-100 justify-content-center min-vh-100 min-vw-100 text-dark w-100">
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12">
                    <h1 class="display-1">Bad Apple</h1>
                </div>
            </div>
        </div>
        <div class="align-content-center align-items-center bg-light container d-flex flex-wrap h-100 justify-content-center min-vh-100 min-vw-100 pb-5 text-dark w-100">
            <div class="justify-content-center mb-5 min-vw-100 mt-5 row text-center w-100">
                <div class="col-12">
                    <h1 class="display-1">Menu</h1>
                </div>
            </div>
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="alignRight col-md-6 col-sm-12 col-xl-3 pb-2 pt-2">
                    <a href="{% url "home" %}"><img src="{% static "img/andrej-lisakov-V2OyJtFqEtY-unsplash.jpg" %}" class="imageSquare mh-100 mw-100 w-75"/></a>
                    <a href="{% url "home" %}"><p class="imageSquareText imageSquareTextL text-light">PRA Templates</p></a>
                </div>
                <div class="alignLeft col-md-6 col-sm-12 col-xl-3 pb-2 pt-2">
                    <a href="{% url "home" %}"><img class="imageSquare mh-100 mw-100 w-75" src="{% static "img/elena-mozhvilo-j06gLuKK0GM-unsplash.jpg" %}"/></a>
                    <a href="{% url "home" %}"><p class="imageSquareText imageSquareTextR text-light">Oversight Lookup</p></a>
                </div>
                <div class="alignRight col-md-6 col-sm-12 col-xl-3 pb-2 pt-2">
                    <a href="{% url "home" %}"><img src="{% static "img/stepan-babanin-kx6fpBOm-ss-unsplash.jpg" %}" class="imageSquare mh-100 mw-100 w-75"/></a>
                    <a href="{% url "home" %}"><p class="imageSquareText imageSquareTextL text-light">Bad Apple Database</p></a>
                </div>
                <div class="alignLeft col-md-6 col-sm-12 col-xl-3 pb-2 pt-2">
                    <a href="{% url "home" %}"><img src="{% static "img/thiago-carlos-machado-oNXGsD7Ibsk-unsplash.jpg" %}" class="imageSquare mh-100 mw-100 w-75"/></a>
                    <a href="{% url "home" %}"><p class="imageSquareText imageSquareTextR text-light">Submit a Tip</p></a>
                </div>
            </div>
        </div>
{% endblock content %}
