{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
        {# Translators: This is a page title #}
        <title>{% translate 'Bad Apple Database - Officer' %}</title>
{% endblock %}


{% block pageThreeActive %}{% endblock %}


{% block content %}
        <div class="container mt-4">
            <div class="bg-dark rounded row">
                <div class="col-12">
                    <h4 class="display-4 mb-1 mt-1 officer-primary text-center">{{ firstName }} {{ middleName }} {{ lastName }}</h4>
                </div>
            </div>
            <div class="justify-content-evenly row">
                <div class="col-11 col-md-5 mt-3">
                    <div class="bg-dark rounded row">
                        <div class="col-12">
                            <h5 class="display-5 mb-1 mt-1 officer-secondary text-center">{% translate 'Details' %}</h5>
                        </div>
                    </div>
                    <div class="bg-dark mt-2 rounded row">
                        <div class="col-12 pb-1">
                            <p class="fs-5 fw-bold mb-1 mt-1 text-center text-decoration-underline text-light">{% translate 'Known Locations' %}</p>
                            {% if locations %}
                            {% for location in locations %}
                            <p class="mb-0 mt-0 text-light text-start">{{ location }}</p>
                            {% endfor %}
                            {% else %}
                            <p class="mb-0 mt-0 text-light text-center">None</p>
                            {% endif %}
                            <p class="fs-5 fw-bold mb-1 mt-1 text-center text-decoration-underline text-light">{% translate 'Known Badge Numbers' %}</p>
                            {% if badgeNumbers %}
                            {% for number in badgeNumbers %}
                            <p class="mb-0 mt-0 text-light text-start">{{ number }}</p>
                            {% endfor %}
                            {% else %}
                            <p class="mb-0 mt-0 text-light text-center">None</p>
                            {% endif %}
                            <p class="fs-5 fw-bold mb-1 mt-1 text-center text-decoration-underline text-light">{% translate 'Metadata' %}</p>
                            <p class="mb-0 mt-0 text-light text-start">{% blocktranslate %}Added{% endblocktranslate %}: {{ addedOn }}</p>
                            <p class="mb-0 mt-0 text-light text-start">{% blocktranslate %}Updated{% endblocktranslate %}: {{ updatedOn }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-11 col-md-5 mt-3">
                    <div class="bg-dark rounded row">
                        <div class="col-12">
                            <h5 class="display-5 mb-1 mt-1 officer-secondary text-center">{% translate 'Overview' %}</h5>
                        </div>
                    </div>
                    <div class="bg-dark mt-2 rounded row">
                        <div class="col-12 pb-1">
                            <p class="fs-5 fw-bold mb-1 mt-1 text-center text-decoration-underline text-light">{% translate 'Total Findings' %}</p>
                            <p class="finding-sustained mb-0 mt-0 text-start">{% blocktranslate %}Sustained{% endblocktranslate %}: {{ sustained }}</p>
                            <p class="finding-not-sustained mb-0 mt-0 text-start">{% blocktranslate %}Not Sustained{% endblocktranslate %}: {{ notSustained }}</p>
                            <p class="finding-exonerated mb-0 mt-0 text-start">{% blocktranslate %}Exonerated{% endblocktranslate %}: {{ exonerated }}</p>
                            <p class="finding-unfounded mb-0 mt-0 text-start">{% blocktranslate %}Unfounded{% endblocktranslate %}: {{ unfounded }}</p>
                            <p class="fs-5 fw-bold mb-1 mt-1 text-center text-decoration-underline text-light">{% translate 'Report Dates' %}</p>
                            <p class="mb-0 mt-0 text-light text-start">{% blocktranslate %}Earliest Report{% endblocktranslate %}: {{ earliestReport }}</p>
                            <p class="mb-0 mt-0 text-light text-start">{% blocktranslate %}Latest Report{% endblocktranslate %}: {{ latestReport }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="justify-content-evenly mt-3 row">
                <div class="bg-dark col-11 col-md-12 rounded">
                    <h5 class="display-5 mb-1 mt-1 officer-secondary text-center">{% translate 'Reports' %}</h5>
                </div>
                {% if reports %}
                {% for report in reports %}
                <div class="bg-dark col-11 col-md-5 mt-3 rounded text-center">
                    <a href="{% url 'report' report.reportID %}" class="link-light"><p class="fs-2 mb-0 text-center text-light">{% translate 'Investigative Report' %}</p></a>
                    {% if report.oversight %}
                    <small class="mb-0 text-warning">{% translate 'Oversight Commission Investigative Report' %}</small>
                    {% endif %}
                    <p class="mb-0 text-center text-light">{{ report.reportLocation }}</p>
                    <p class="mb-0 text-center text-light">{{ report.reportDate }}</p>
                    {% if report.sustained %}
                    <p class="finding-sustained fs-5 fw-bold mb-0 text-center">{% translate 'Sustained Findings' %}</p>
                    {% for policy in report.sustained %}
                    <p class="finding-sustained mb-0 mt-0 text-start">{{ policy }}</p>
                    {% endfor %}
                    {% endif %}
                    {% if report.notSustained %}
                    <p class="finding-not-sustained fs-5 fw-bold mb-0 text-center">{% translate 'Not Sustained Findings' %}</p>
                    {% for policy in report.notSustained %}
                    <p class="finding-not-sustained mb-0 mt-0 text-start">{{ policy }}</p>
                    {% endfor %}
                    {% endif %}
                    {% if report.exonerated %}
                    <p class="finding-exonerated fs-5 fw-bold mb-0 text-center">{% translate 'Exonerated Findings' %}</p>
                    {% for policy in report.exonerated %}
                    <p class="finding-exonerated mb-0 mt-0 text-start">{{ policy }}</p>
                    {% endfor %}
                    {% endif %}
                    {% if report.unfounded %}
                    <p class="finding-unfounded fs-5 fw-bold mb-0 text-center">{% translate 'Unfounded Findings' %}</p>
                    {% for policy in report.unfounded %}
                    <p class="finding-unfounded mb-0 mt-0 text-start">{{ policy }}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="justify-content-evenly mb-2 mt-2 row">
                        <div class="col-11 text-center">
                            <a class="btn btn-primary text-light" href="{% url 'report' report.reportID %}">{% translate 'View Report' %}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="bg-dark col-8 col-md-5 mt-2 rounded">
                    <h6 class="display-6 mb-1 mt-1 text-center text-warning">{% translate 'None' %}</h6>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
