{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}
        {# Translators: This is a page title #}
        <title>{% translate 'Bad Apple - Oversight Lookup' %}</title>
{% endblock %}


{% block pageTwoActive %}{% endblock %}


{% block content %}
        <div class="align-content-center align-items-center bg-light container d-flex flex-wrap h-100 justify-content-center min-vh-100 min-vw-100 text-dark w-100">
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12 mb-3 mt-3">
                    <h1 class="display-1">{% translate 'Oversight Commissions' %}</h1>
                    <h5><a href="{% url 'documentation' %}#Oversight" class="linkExpand linkBlue text-decoration-none">{% translate 'Learn More' %}</a></h5>
                </div>
            </div>
            <form role="form" action="." method="post">
                <div class="justify-content-center mb-5 min-vw-100 mt-5 row text-center w-100">
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4 mt-2">
                        <div class="form-group">
                            <label for="{{ oversightForm.stateTerritoryProvince.id_for_label }}">{% translate 'State' %}</label>
                            {{ oversightForm.stateTerritoryProvince }}
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mt-2 ">
                        <div class="form-group ">
                            <label for="{{ praForm.cityTown.id_for_label }}">{% translate 'City' %}</label>
                            {{ oversightForm.cityTown }}
                        </div>
                    </div>
                    <div class="col-12 col-md-2 mt-4 pt-2">
                        {% csrf_token %}
                        {# Translators: This text appears on a search button #}
                        <button type="submit" class="btn btn-primary">{% translate 'Submit' %}</button>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                </div>
            </form>
            {% if showResults %}
            {% if resultFound %}
            <div class="container">
                <div class="justify-content-center row">
                    {% for commission in commissions %}
                    <div class="col-12 col-lg-4 col-md-6 grow pb-3 pt-3">
                        <div class="card h-100">
                            <a href="{% url "commission" commission.commissionID %}" class="d-block"><img src="{% static commission.image %}" class="card-img-top"></a>
                            <div class="card-body">
                                {% if commission.cityTown %}
                                <h6 class="text-info"><a href="{% url 'commission' commission.commissionID %}" class="text-decoration-none text-info">{{ commission.cityTown }}</a></h6>
                                {% endif %}
                                <a href="{% url 'commission' commission.commissionID %}" class="text-dark text-decoration-none"><h5 class="card-title">{{ commission.commissionTitle }}</h5></a>
                                {% if commission.aboutText %}
                                <p class="card-text text-secondary"><a href="{% url 'commission' commission.commissionID %}" class="text-decoration-none text-secondary">{{ commission.aboutText }}</a></p>
                                {% else %}
                                <p class="card-text text-secondary"><a href="{% url 'commission' commission.commissionID %}" class="text-decoration-none text-secondary">{% blocktranslate %}No commission summary available.{% endblocktranslate %}</a></p>
                                {% endif %}
                            </div>
                            <div class="card-footer d-flex justify-content-between small">
                                {% if commission.websiteURL %}
                                <a href="{{ commission.websiteURL }}" class="text-secondary">{% translate 'Website' %}</a>
                                {% else %}
                                <a href="." class="text-secondary">{% translate 'No Website' %}</a>
                                {% endif %}
                                {# Translators: A date value will be automatically added after this text #}
                                <span>{% translate 'Updated' %}: {{ commission.modificationDate }}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12">
                    <h4 class="text-danger">{% blocktranslate %}No Commissions Found{% endblocktranslate %}</h4>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
{% endblock %}
