{% extends "base.html" %}
{% load static %}


{% block title %}
        <title>Bad Apple - PRA Templates</title>
{% endblock %}


{% block pageOneActive %}{% endblock %}


{% block content %}
        <div class="align-content-center align-items-center bg-light container d-flex flex-wrap h-100 justify-content-center min-vh-100 min-vw-100 text-dark w-100">
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12 mb-3">
                    <h1 class="display-1">PRA Templates</h1>
                    <h5><a href="{% url 'documentation' %}#PRA" class="linkExpand linkBlue text-decoration-none">Learn More</a></h5>
                </div>
            </div>
            <form role="form" action="." method="post">
                <div class="justify-content-center mb-5 min-vw-100 mt-5 row text-center w-100">
                    <div class="col-12 col-md-1">
                    </div>
                    <div class="col-12 col-md-4 mt-2">
                        <div class="form-group">
                            <label for="{{ praForm.stateTerritoryProvince.id_for_label }}">State</label>
                            {{ praForm.stateTerritoryProvince }}
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mt-2 ">
                        <div class="form-group ">
                            <label for="{{ praForm.subject.id_for_label }}">Subject</label>
                            {{ praForm.subject }}
                        </div>
                    </div>
                    <div class="col-12 col-md-2 mt-4 pt-2">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-12 col-md-1">
                    </div>
                </div>
            </form>
            {% if showResults %}
            {% if resultFound %}
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Letter Title</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Letter Title" value="{{ letterTitle }}">
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="h-100 input-group-text">Letter Body</div>
                        </div>
                        <textarea class="form-control" rows="8" id="letterBody">{{ letterBody }}</textarea>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="justify-content-center min-vw-100 row text-center w-100">
                <div class="col-12">
                    <h4 class="text-danger">No Matching Template Found</h4>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
{% endblock content %}
